---
import workExperienceJSON from '../../data/workExperience.json';
import WorkExperienceContainer from '../WorkExperienceContainer.astro';
---

<section id="experience" class="section mb-24">
  <h1 class="lg:hidden block mb-12 text-xl font-bold underline underline-offset-8">EXPERIENCE</h1>
  <ol class="w-full">
    {
      workExperienceJSON.map((workExperience) => <WorkExperienceContainer workDates={workExperience.workDates} jobTitle={workExperience.jobTitle} companyName={workExperience.companyName} jobBulletPoints={workExperience.jobDescriptions} website={workExperience.website} />)
    }
  </ol>
</section>